<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card border-primary my-5">
  <div class="card-body text-center">
     <div class="row my-3">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-4">
            <%= form.text_field :name, class:"form-control" %>
          </div>
      </div>

      <div class="row my-3">
        <label for="edad" class="col-sm-2 col-form-label">Edad</label>
          <div class="col-sm-4">
            <%= form.text_field :age, class:"form-control" %>
          </div>
      </div>
  </div>
</div>

<button type="submit" class="btn btn-success">enviar</button>

<% end %>
